* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TODO: раскладка калькулятора (Grid отлично подходит для сетки кнопок) */
main {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}

#calculator {
  font-family: var(--font-main);
  background-color: #c9c3b6;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: right;
  border: none;
  background-color: #dfdbd3;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: none;
  background-color: hsl(42, 31%, 94%);
  color: var(--font-main);
  font-family: var(--font-main);
  font-size: 3rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(42, 7%, 64%);
}

button:active {
  background-color: hsl(42, 7%, 34%);
  color: hsl(0, 0%, 91%);
}

.operator-btn {
  background-color: hsl(45, 5%, 65%);
}

.operator-btn:hover {
  background-color: hsl(45, 5%, 30%);
}

.operator-btn:active {
  background-color: hsl(45, 5%, 15%);
  color: hsl(0, 0%, 91%);
}